{% extends "capstone/layout.html" %}

{% block body %}
    <div>
        <br>
        <br>
        <div style="display: flex; align-items: center;justify-content: space-between;">
            <h4 id="teachers-title" style="padding-bottom: 8px;font-weight: bold;">Teachers</h4>
            <a id="add-teachers-button" class="btn btn-primary" href="{% url 'new_teacher' %}" role="button" style="margin-bottom: 14px;">Add More Teachers</a>
        </div>

        <table>
            <tr>
                <th>Name</th>
                <th>ID Card Number</th>
                <th>Profession</th>
                {% if user.is_authenticated %}
                    <th>Edit</th>
                {% endif %}
            </tr>
            {% for teacher in teachers_per_page %}
                <tr>
                    <td class="nombre">{{ teacher.nombre }}</td>
                    <td class="documento">{{ teacher.documento }}</td>
                    <td class="profesion">{{ teacher.profesion }}</td>
                    {% if user.is_authenticated %}
                        <td class="td-acciones">
                            <button onclick="editTeacherData(this)" class="btn btn-primary edit-button" data-teacher-id="{{ teacher.id }}"><i class="fa-solid fa-pencil"></i></button>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>

        <form id="edit-form" style="display:none;" class="edit-forms">
            <input type="hidden" id="teacher_id" name="teacher_id" value="">
            <h3>Edit the Teacher Information</h3>
            <br>
            <label for="edit-nombre" style="padding-right: 84px;">Name:</label>
            <input type="text" id="edit-nombre" name="nombre"><br><br>
            
            <label for="edit-documento" style="padding-right: 10px;">ID Card Number:</label>
            <input type="text" id="edit-documento" name="documento"><br><br>

            <label for="edit-profesion" style="padding-right: 58px;">Profession:</label>
            <input type="text" id="edit-profesion" name="profesion"><br><br>
            
            <input type="button" value="Save Changes" class="btn btn-success" onclick="saveTeacherChanges()" style="align-items: center;">
        </form>

        <nav id="nav-del-teachers" style="padding-top: 40px;">
            <ul class="pagination d-flex justify-content-center">
                {% if teachers_per_page.has_previous %}
                <li class="page-item">
                    <a class="page-link page-link-styles" href="?page={{teachers_per_page.previous_page_number}}">Previous</a>
                </li>
                {% endif %}
                {% if teachers_per_page.has_next %}
                <li class="page-item">
                    <a class="page-link page-link-styles" href="?page={{teachers_per_page.next_page_number}}">Next</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
{% endblock %}